@font-face {
    font-family: 'Virile';
    src: url('../css/Virile\ Regular.ttf') format('truetype');
    font-weight: normal; /* or specify as needed */
    font-style: normal; /* or italic, etc. */
}
:root {
    --animation-duration: 2s;
}

.background-wrapper{
  background-image: url("../media/backgrounds/Psych\ Background.png");
  background-color: rgba(0, 0, 0, 0.0);
  background-blend-mode: overlay;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  transform: scale(1.0); 
  background-size: cover;
  background-position: center;
}
 /*

.background-wrapper::after {
    content: "";
    background-image: url("../media/backgrounds/Church.png");
    background-blend-mode: overlay;
    z-index: 1;
    position:absolute;
    top: 100px; 
    left: 0; 
    width: 100%; 
    height: 100%; 

  }
  
  */

  body, html {
    overflow-x: hidden;
    margin: 0px;
  }


  .flowers{
    position: fixed;
    top:0;
    width: 100%;
    pointer-events:none; 
    z-index: 10;
  }

  @keyframes slideUp {
    0% {
        transform: translateY(100%); /* Starts offscreen, below the viewport */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Ends in the original position */
        opacity: 1;
    }
}

.church {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 0;
    filter: drop-shadow(0px -5px 4px #2222227a);
    z-index: 0;
    animation: slideUp .7s ease-out forwards; /* Apply the slide-up animation */
}

  .church img{
    width: 70%;

  }

  #animated-word {
    transition: letter-spacing 0.1s ease; /* Smooth transition */
} 

  .website-title {
    color: rgb(255,228,214);
    font-family: "Virile";
    font-weight: normal;
    -webkit-text-stroke: 4px #A85050;
    position:absolute;
    justify-content: center;
    letter-spacing: 0px;
    bottom: -25vw;
    font-size: 25vw;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.473));
  }


  .bricked-up-body {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    background-color: rgb(255, 228, 214);
    z-index: 0;
    background-attachment: fixed;
    background-image: url('../media/backgrounds/tile-bricked-up.jpg'); /* Replace with the path to your image */
    background-repeat: repeat; /* This makes the background repeat infinitely */
    background-size: 500px; /* Set this to the size you want for each repeat tile */
}


  .bricked-up-body img {
    width: 500px;
    background-repeat: repeat;
    grid-column: 1;
    grid-row: 1;

  }
  .arrow {
    margin-bottom: 20px;
    scale: 300%;
    color: #989BD9;
    /* border: solid rgb(162, 138, 201);
    
    border-width: 0 3px 3px 0; */
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg); /* Set initial rotation */
    transform-origin: rotate(45deg);
    animation: bounce 1.5s infinite;
  }
  
  /* Bouncing animation */
  @keyframes bounce {
    0%, 100% {
      
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .newsletter-signup {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    background-color: #ffe4d6eb;
  }


.newsletter-signup h2 {
    font-size: 5vw;
    color: #989BD9;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "nexa-rust-sans-black-2", sans-serif;
    font-weight: 900;
    font-style: normal;
}
@media (max-width: 500px) {
  .newsletter-signup h2{
  }
}

.newsletter-signup p {
    font-size: 2.5vh;
    width: 70%;
    color: #555;
    font-family: "nexa-rust-sans-black-2", sans-serif;
    font-weight: bold;
    text-align: center;
}

#newsletterForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 90%;
}


#newsletterForm input, #contactForm input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-height: 4vh;
    font-size: 2vh;
}

#newsletterForm button, #contactForm button {
    padding: 10px;
    background-color: #989BD9;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#newsletterForm button:hover {
    background-color: #494c81;
}

#contactForm input {
  padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}



.name {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#contactForm {
  display: flex;
  flex-direction: column;
  padding:30px;
  width: 90%;

}

#responseMessage {
    margin-top: 10px;
    font-size: 14px;
    color: green; /* Can also use red if showing error messages */
}

  #grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #672033, #C87B6E, #672033);
  }

  .input-forms {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .input-forms input {
    font-size: 100px;
  }

  .socials { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      
  }

  .socials img {
    width: 10vw;
    padding: 1vw;
    max-width: 50px;
  }

  .copyright {
    font-style: italic;
  }

  @media (max-width: 500px) {
  
    .newsletter-signup h2{
      font-size: 10vw;
    }
  }
  @keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}




@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.flower-bundleL {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
    animation: slideInLeft .5s ease-out forwards; /* Animation for left flowers */
    transform-origin: 0% 0%;
  }

.flower-bundleR {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
    height: 300px;
    transition: transform 0.3s;
    animation: slideInRight .5s ease-out forwards; /* Animation for right flowers */
    transform-origin: 100% 0%;
  }

/* Adjust other flower-specific classes if necessary, like below */
.flowerL, .flowerR {
    position: fixed;
    transform-origin: center;
    animation: rustle-flipped var(--animation-duration) ease-in infinite;
    animation-delay: var(--animation-delay);
    filter: drop-shadow(0px -5px 11px #2222227a);
}

  
  .flower1 {
    top: -110px;
    left: -110px;
    transform:rotate(-110deg);

    transform:scaleY(-1);
    z-index: 2;
  }

  .flower2 {
    top: -120px;
    left: 80px;
    transform: scaleY(-1);
    z-index: 1;
  }
  
  .flower3 {
    top: 5px;
    left: 20px;
    transform: scaleY(-1);
    z-index: 4;
  }
  
  .flower4 {
    top: 55px;
    left: -174px;
    transform: rotate(-120deg);
    transform: scaleY(-1);
    z-index: 3;
  }


.flower5 {
    top: -136px;
    right: 100px;
    transform: scaleY(-1);
    z-index: 2;
}

.flower6 {
    top: -110px;
    right: -75px;
    transform: scaleY(-1);
    rotate: 240deg;
    z-index: 2;
}

.flower7 {
    top: 10px;
    right: 40px;
    transform: scaleY(-1);
    z-index: 4;
}

.flower8 {
    top: 47px;
    right: -120px;
    transform: scaleY(-1);
    z-index: 3;
}

/* Default styling for flower-bundelL and flower-bundelR */
.flower-bundleL, .flower-bundleR {
  transform: scale(1); /* Set default scale */
}

/* Apply scale of 0.5 when the window width is less than 900px */



@media (max-width: 1150px) {
  .church img {
    width:90%;
  }
}

@media (max-width: 900px) {
  .church img {
    width:100%;
  }
}


@media (max-width: 750px) {
  .website-title{
  }
}

@media (max-width: 500px){
  .website-title
  {
    letter-spacing: 0px;
    -webkit-text-stroke: 2px #A85050;
  }
}

@keyframes rustle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(+6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rustle-flipped{
    0% {
        transform: rotate(0deg) scaleY(-1);
    }
    50% {
        transform: rotate(+6deg) scaleY(-1);
    }
    100% {
        transform: rotate(0deg) scaleY(-1);
    }
}