.button-container button {
  font-size: 0.7rem;
  font-family: "heading-text";
  color: rgb(255, 255, 255);
  padding: 12px 64px;
  border-radius: 8px;
  display: flex;
  width: fit-content;
  border: none;
}

.button-primary {
  background-color: var(--light-purple);
}

.button-secondary {
  background-color: var(--burnt-orange);
}

.button-container .button-tertiary {
  color: var(--black);
  font-family: "body-text";
  font-weight: 700;
  padding: 16px;
  border-radius: 4px;
}

.button-container button:hover {
  transform: scale(1.05);
  transition: 0.35s;
  cursor: pointer;
}
