.button-container button {
  font-size: 0.85rem;
  font-family: "heading-text";
  color: white;
  padding: 12px 64px;
  border-radius: 8px;
  display: flex;
  width: auto;
  border: none;
}

.button-primary {
  background-color: var(--light-purple);
}

.button-secondary {
  background-color: var(--burnt-orange);
}

.button-container .button-tertiary {
  background-color: var(--white);
  color: var(--black);
  font-family: "body-text";
  font-weight: 900;
  padding: 16px 96px;
  border-radius: 4px;
}

.button-container button:hover {
  transform: scale(1.05);
  transition: 0.35s;
  cursor: pointer;
}

@media (max-width: 937px) {
  .button-container button {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  .button-container button {
    font-size: 0.6rem;
  }
}

@media (max-width: 450px) {
  .button-container button {
    padding: 12px 32px;
  }
  .button-container .button-tertiary {
    padding: 16px 40px;
    font-weight: 800;
  }
}
