.who-we-are-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  hyphens: auto;
}

.content-header {
  color: var(--dark-yellow);
  font-size: 1.25rem;
  text-align: center;
  font-weight: bolder;
}

.body-container {
  /* color to match bottom of background image */
  background-color: #142714;
  background-size: auto;
  background-repeat: round;
  /* needed for background image to work */
  position: relative;
  overflow: hidden;
  /* container is placed at the same level as the content-wrapper, above the background-image */
  z-index: 1;
  width: 100%;
}

.body-text-container p {
  width: 700px;
}

.body-text-container {
  /* content-wrapper is placed at the same level as the container, above the background-image */
  z-index: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 36px 24px;
}
