.church-animation-container {
  position: relative;
  background-image: url("../../assets//media//backgrounds//psychbackground_lowres.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: flex-end;
}


.church {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.church img {
  width: min(90vw, 1200px);
  object-fit: cover;
  animation: slideUp 0.7s ease-out forwards;
  z-index: 1;
  }

.website-title {
  color: var(--cream);
  font-family: "virile-text";
  font-weight: normal;
  position: absolute;
  /* bottom: -25vw; */
  /* top: auto; */
  bottom: 0px;
  z-index: 1;
  line-height: .75;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.473));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: min(30vw, 450px);
  -webkit-text-stroke: 3px rgb(168, 80, 80);
}

#animated-word {
  /* transition: letter-spacing 0.1s ease;  */
  transition: letter-spacing 0.1s ease, transform 0.1s ease;
  font-size: 25vw;
  letter-spacing: 0px;
  -webkit-text-stroke: 3px rgb(168, 80, 80);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes rustle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(+6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rustle-flipped {
  0% {
    transform: rotate(0deg) scaleY(-1);
  }
  50% {
    transform: rotate(+6deg) scaleY(-1);
  }
  100% {
    transform: rotate(0deg) scaleY(-1);
  }
}


.flowers {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}
