.custom-prev,
.custom-next,
.custom-prev-2,
.custom-next-2,
.custom-prev-3,
.custom-next-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  aspect-ratio: 1 / 1;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: var(--white);
  --swiper-navigation-top-offset: 90%;
  --swiper-navigation-sides-offset: 200px;
}

.custom-next:hover,
.custom-prev:hover {
  transform: scale(1.15);
  transition: 0.3s;
}

.swiper-pagination-bullet {
  --swiper-pagination-color: var(--white);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: auto;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-size: 32px;
  --swiper-pagination-bullet-width: 32px;
  --swiper-pagination-bullet-height: 32px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0px;
  --swiper-pagination-bullet-vertical-gap: 0px;
}

.swiper-pagination-bullet:hover {
  transform: scale(1.15);
  transition: 0.3s;
}

/* Make the active slide take up most of the space */
.swiper-slide-container-class {
  width: 700px; /* or 90%, adjust as needed */
  max-width: 700px;
}

/* Optional: peek-in effect */
.swiper-container-class {
  width: 100%;
  padding: 0 10%;
  height: 100%;
  /* creates side “cut off” effect */
  box-sizing: border-box;
}

.controls-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 45px 10px 10px;
}

.custom-pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  /*gap: 20px;*/
  padding-top: 45px;
  width: 100%;
  background-image: url("../../assets/media/backgrounds/top1.png");
  background-position: center top;
  background-size: 100% 100%;
}

.loading-icon-container {
  height: 444px;
  display: flex;
  align-items: center;
  /* min-height: inherit; */
}

@media (min-width: 1200px) {
  .swiper-slide-container-class {
    width: 800px;
    max-width: 800px;
  }

  .swiper-container-class {
    max-width: 1800px;
  }
}

@media (min-width: 1536px) {
  .swiper-container-class {
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      black 2%,
      black 98%,
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      black 2%,
      black 98%,
      rgba(0, 0, 0, 0)
    );
  }

  /* .swiper-slide-container-class {
    width: 900px;
    max-width: 900px;
  } */
}
@media (max-width: 992px) {
  .swiper-slide-container-class {
    width: 600px;
    max-width: 600px;
  }
}

@media (max-width: 650px) {
  .swiper-slide-container-class {
    width: 450px;
    max-width: 450px;
  }
}

@media (max-width: 500px) {
  .swiper-slide-container-class {
    width: 375px;
    max-width: 375px;
  }

  .custom-prev,
  .custom-next,
  .custom-prev-2,
  .custom-next-2,
  .custom-prev-3,
  .custom-next-3 {
    width: 24px;
    height: 24px;
  }

  .swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 24px;
    --swiper-pagination-bullet-height: 24px;
  }
}

@media (max-width: 400px) {
  .swiper-slide-container-class {
    width: 350px;
    max-width: 350px;
  }
}
