/* Banner section */
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

.faq-section {
  width: 100%;
  background-color: #052C3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 40px; */
}


.faq-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../../assets/media/banners/banner4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 36px 24px;
}

.faq-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Accordion section */
.collapsible-section {
  width: 90%;
  max-width: 650px;
  margin: 20px auto;
}

.collapsible {
  background-color: #45628769;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-family: "body-text", Verdana, sans-serif; /* Force Inter */
  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 0.3s ease, border-radius 0.5s;
}

.collapsible.active {
  border-radius: 10px 10px 0 0;
}

.collapsible:hover {
  background-color: rgba(255, 255, 255, 0.158);
}

.collapsible-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.collapsible-button h3 {
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

#expandIcon {
  font-size: 1.5rem;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #45698769;
  color: white;
  padding: 0 16px;
  border-radius: 0 0 10px 10px;
  font-family: "body-text", Verdana, sans-serif;
  font-size: 1rem;
}

.faq-content.expanded {
  padding: 16px;
}
