.title-container {
  color: white;
  background-position: top;
  background-size: cover;
  height: 300px !important;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.title-container h1 {
  margin: 0;
  padding: 0;
}
