.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* gap: 12px; */
  /* padding-bottom: 12px; */
}

.about-text-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  justify-content: center;
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 12px;
}

.about-header-and-image {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.about-header-and-image p {
  width: 100%;
}

.about-header-and-image img {
  /* height: 100px; */
  /* z-index: 0; */
  width: 40%;
  height: auto;
  align-self: flex-start;
  flex-shrink: 0;
  /* float: right;
  margin-left: 24px; */
  /* bottom: auto; */
  /* left: auto; */
  /* top: 0px; */
  /* right: 0px; */
  /* position: absolute; */
  /* float: right; */

  -webkit-mask-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0),
    black 1%,
    black 25%,
    rgba(0, 0, 0, 0)
  );
}

.about-background-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: relative;
  height: 100%;
  padding: 12px;
}

.about-background-wrapper-image {
  z-index: 0;
  width: 40%;
  bottom: auto;
  left: auto;
  top: 0px;
  right: 0px;
  position: absolute;

  -webkit-mask-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0),
    black 2%,
    black 25%,
    rgba(0, 0, 0, 0)
  );
}

.about-background-wrapper-image-2 {
  z-index: 0;
  width: 40%;
  top: auto;
  right: auto;
  bottom: 0px;
  left: 0px;
  position: absolute;

  -webkit-mask-image: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0),
    black 2%,
    black 25%,
    rgba(0, 0, 0, 0)
  );
}
