.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* gap: 12px; */
  /* padding-bottom: 12px; */
  background-color: black;
  color: white;
}

.wrapped-image {
  margin-left: 8px;
  float: right;
  width: 40%;
  border-radius: 8px;
  -webkit-mask-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0),
    black 1%,
    black 25%,
    rgba(0, 0, 0, 0)
  );
}

.text-wrap-container {
  width: 90%;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (max-width: 500px) {
  .wrapped-image {
    width: 60%;
    margin-left: 4px;
  }
}

@media (min-width: 1536px) {
  .text-wrap-container {
    width: 50%;
  }
}
