.header-container {
  background-color: var(--burnt-orange);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header-container img {
  /* width: 54px; */
  height: 60px;
}

.nav-container {
  display: flex;
  color: white;
  margin-left: auto;
}

.nav-container h5 {
  margin: 0;
  padding: 20px;
}

.navlink {
  color: white;
  text-decoration: none;
}

.navlink:visited {
  color: white;
  text-decoration: none;
}

.active {
  transform: scale(1.1);
}

/* .active h5 {
  color: var(--cream);
} */

.hover {
  transform: scale(1.11);
  transition: 0.3s;
}
