.events-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.events-list-container {
  /* color to match bottom of background image */
  background-color: #142714;
  background-size: auto;
  background-repeat: round;
  width: 100%;
  /* needed for background image to work */
  position: relative;
  overflow: hidden;
  /* container is placed at the same level as the content-wrapper, above the background-image */
  z-index: 1;
}

.event-items-wrapper {
  position: relative;
  /* content-wrapper is placed at the same level as the container, above the background-image */
  z-index: 1;
  padding: 36px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  color: white;
}

.event-items-wrapper p {
  font-style: italic;
  text-align: center;
}
