/* .title-container {
  color: white;
  background-position: top;
  background-size: cover;
  height: 300px !important; */
/* height: fit-content; */
/* width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
} */

.title-container {
  color: white;
  display: grid;
  height: fit-content;
  width: 100%;
  align-items: center;
  align-content: center;
  overflow: hidden;
  text-align: center;
  max-height: 350px;
}

.title-container img,
.title-container div,
.title-container h1 {
  grid-column: 1;
  grid-row: 1;
}

.title-container img {
  width: 100%;
}

@media (min-width: 1200px) {
  .title-container {
    max-height: 600px;
  }
}
