.events-container {
  /* color to match bottom of background image */
  background-color: #142714;
  background-size: auto;
  background-repeat: round;
  /* needed for background image to work */
  position: relative;
  overflow: hidden;
  /* container is placed at the same level as the content-wrapper, above the background-image */
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 10% 0;
}

.events-container h1 {
  color: white;
  padding: 2% 0 0 0;
  text-shadow: 0px 0px 20px #011e08;
  font-size: max(3rem, 9vw);
}

.events-list-container {
  /* color to match bottom of background image */
  background-size: auto;
  background-repeat: round;
  width: 100%;
  /* needed for background image to work */
  position: relative;
  overflow: hidden;
  /* container is placed at the same level as the content-wrapper, above the background-image */
  z-index: 1;
}

.event-items-wrapper {
  position: relative;
  /* content-wrapper is placed at the same level as the container, above the background-image */
  z-index: 1;
  padding: 36px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  color: white;
  min-height: 350px;
}

.event-items-wrapper p {
  font-style: italic;
  text-align: center;
}

@media (max-width: 500px) {
  .event-items-wrapper {
    gap: 24px;
  }
}
