.photos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photos-album-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.photos-swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-photo-album-container {
  width: 100%;
  /* height: 600px; */
}

.yarl__slide_title_container {
  font-family: "heading-text";
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.yarl__slide_caption_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.yarl__slide_description_container {
  font-family: "body-text";
  /* text-align: center; */
}
